@import '../../styles/base';

/* ------------ article list ---------------- */

$articleListMaxWidth: 1400px;
$articleListTextSmall: 0.8rem;
$articleListTextTiny: 0.5rem;
$headlineTextLargeScale: 1.2; /* enlarging text for responsive large size */
$articleHeadlineFont: Heebo, Helvetica Neue, Helvetica, Arial, sans-serif;
$articleListItemTitleHeight: 1.2rem;
$articleSmallSizeScale: 0.85;
$articleLargeSizeScale: 1.1;
$articleListItemDescLineHeightScale: 1.33;
$articleListItemTitleLineHeightScale: 1.4;

@mixin flex-bottom() {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.article-list-item {
  padding: 0.5rem 3rem;
  margin-bottom: 0.25rem;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.5+8,0.33+45,0+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 8%, rgba(0,0,0,0.33) 45%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 8%,rgba(0,0,0,0.33) 45%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 8%,rgba(0,0,0,0.33) 45%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

  &:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+8,0.75+45,0+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 8%, rgba(0,0,0,0.75) 45%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 8%,rgba(0,0,0,0.75) 45%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 8%,rgba(0,0,0,0.75) 45%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  }
  .article-list-item-inner {
    max-width: $articleListMaxWidth;
    @media screen and (min-width: $largeSize) {
      display: flex;
      flex-direction: row;
    }
  }
}

.article-list-item-title-group {
  display: flex;
  flex-direction: row;
  margin-bottom: $articleListItemTitleHeight/4;

  @media screen and (max-width: $smallSize) {
    margin-bottom: 3px;
    display: block;
  }
  @media screen and (min-width: $largeSize) {
    flex-basis: 500px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 1.5rem;
  }
}

.article-list-item-folder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .article-list-item-folder__inner {
    display: inline-block;
    color: $secondaryText;
    margin-right: 0.25rem;
    font-weight: 200;
    text-transform: uppercase;
    font-size: $textSize * $allCapsScale;
    line-height: $textSize * $allCapsScale * $articleListItemTitleLineHeightScale;
    margin-right: 1rem;
    @media screen and (max-width: $smallSize) {
      font-size: $textSize * $allCapsScale * $articleSmallSizeScale;
      line-height: $articleListItemTitleHeight * $articleSmallSizeScale;
    }
    @media screen and (min-width: $largeSize) {
      font-size: $textSize * $allCapsScale *  $articleLargeSizeScale;
      line-height: $textSize * $articleLargeSizeScale * $articleListItemTitleLineHeightScale;
      margin-right: 1.5rem;
    }
  }
}

.article-list-item-title {
  .article-list-item-title__inner {
    font-family: $articleHeadlineFont;
    color: white;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: $textSize;
    display: inline-block;
    line-height: $textSize * $articleListItemTitleLineHeightScale;
    @media screen and (max-width: $smallSize) {
      font-size: $textSize * $articleSmallSizeScale;
      line-height: $textSize * $articleListItemTitleLineHeightScale * $articleSmallSizeScale;
    }
    @media screen and (min-width: $largeSize) {
      font-weight: 200;
      font-size: $textSize * $articleLargeSizeScale;
      line-height: $textSize * $articleListItemTitleLineHeightScale * $articleLargeSizeScale;
    }
  }
}

.article-list-item-description-group {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: $smallSize) {
    display: block;
  }
  @media screen and (min-width: $largeSize) {
    flex-grow: 1;
  }
}

.article-list-item-intro {
  flex-grow: 1;
  @media screen and (max-width: $smallSize) {
  }
  .article-list-item-intro__inner {
    font-family: $textFont;
    color: $secondaryText2;
    font-size: $articleListTextSmall;
    font-weight: 200;
    margin: 0;
    padding: 0;
    line-height: $articleListTextSmall *  $articleListItemDescLineHeightScale;
    display: inline-block;
    @media screen and (max-width: $smallSize) {
      font-size: $articleListTextSmall * $articleSmallSizeScale;
      line-height: $articleListTextSmall *  $articleListItemDescLineHeightScale * $articleSmallSizeScale;
    }
  }
}

.article-list-item-time {
  height: 100%;
  margin-left: 2rem;
  @media screen and (max-width: $smallSize) {
    display: none;
  }
  .article-list-item-time__inner {
    color: $secondaryText2;
    flex-grow: 0;
    flex-shrink: 0;
    text-transform: uppercase;
    font-weight: 200;
    display: inline-block;
    white-space: nowrap;
    font-size: $articleListTextTiny;
    @media screen and (max-width: $smallSize) {
      display: inline;
    }
  }
}
