@font-face {
  font-family: 'AnyMale';
  src: url('/fonts/AnyMale/AnyMale.eot');
  src: url('/fonts/AnyMale/AnyMale.eot?#iefix') format('embedded-opentype'),
  url('/fonts/AnyMale/AnyMale.woff2') format('woff2'),
  url('/fonts/AnyMale/AnyMale.woff') format('woff'),
  url('/fonts/AnyMale/AnyMale.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}