/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/

/* ----------- proportion/scaling ------------ */

$allCapsScale: 0.66;
$bulletScale: 1.05;
$leadingScale: 1.333;
$headlineScale: 1.2;
$headlineMargin: 1.5rem;

/* ----------- responsive breakpoints --------------- */

$largeSize: 1200px;
$smallSize: 800px;
$contentMaxWidth: 1400px;

/* ------------ colors ------------------- */

$headerBorderColor: hsla(253, 82%, 19%, 0.5);
$majorArticleHeadline: hsl(280, 20%, 25%);
$minorArticleHeadline: hsl(275, 16%, 27%);
$textColor: hsl(200, 62%, 80%);
$textEmphasis: #e293dd; /* hsl(200, 100%, 80%); */
$introColor: hsl(0, 0%, 33%);

$pageBackground: hsl(200, 50%, 10%);
$secondaryText2: hsl(198, 29%, 82%);
$secondaryText: hsl(200, 25%, 85%);

$articleBorderColor: hsl(292, 38%, 74%);
$articleHeadlineBorderColor: saturate($articleBorderColor, 0.2);

$codeBackgroundBorderColor: hsl(200, 80%, 60%);
$codeBackgroundColor: hsl(200, 100%, 98%);

/* ---------------- text ------------------ */

$avro: Arvo, Helvetica Neue, Helvetica, Arial, sans-serif;
$smallDeviceTextSize: 1rem;

$textCode: 'Anonymous Pro', 'Courier New', Courier, monospace;
$textFont: Heebo, Helvetica Neue, Helvetica, Arial, sans-serif;
$textSize: 1.125rem;
$titleFont: $textFont; /* Arvo, Helvetica Neue, Helvetica, Arial, sans-serif; */
