@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  position: relative;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

canvas.background {
  left: 0;
  top: 0;
  position: absolute;
}

#background_canvases {
  z-index: -11000;
  overflow: hidden;
  width: 100%;
  height: 100%;
  canvas {
    z-index: -1000;
  }
}
#ani {
}

#ani-letters {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}

.wll-letter {
  font-family: AnyMale, Helvetica;
  position: absolute;
  white-space: nowrap;
  width: 200px;
  height: 200px;
  background-color: 'red';
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 4px 2px 3px rgba(0,0,0,0.75);
}

.wll-letter__character {
  flex-basis: auto;
  font-size: 20rem;
}