@import '../../../styles/base';

.article {
  font-family: $textFont;
  .article__content {
    max-width: $contentMaxWidth;
    .article__intro {
      font-size: 1.5rem;
      font-weight: 200;
      text-align: center;
      color: $introColor;
      font-size: $textSize;
    }
    h1.article-title {
      font-family: $titleFont;
      font-size: 3em;
      text-align: center;
      margin: 1rem;
      font-family: $avro;
    }
    background: white;

    -webkit-box-shadow: 0px 0px 22px 6px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 22px 6px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 22px 6px rgba(255, 255, 255, 1);

    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem 2rem;
    @media screen and (max-width: $smallSize) {
      margin: 0;
      border-radius: 0;
      padding: 1rem;
      p, div {
        font-size: $smallDeviceTextSize;
        line-height: $smallDeviceTextSize * $leadingScale;
      }
      p {
        margin: 0;
        margin-bottom: 0.25rem;
      }
      li {
        font-size: $smallDeviceTextSize * $bulletScale;
        line-height: $smallDeviceTextSize * $leadingScale * $bulletScale;
      }
      code {
        font-size: 1em;
      }
    }
    h1, h2, h3, h4 {
      font-family: $avro;
      font-size: 1.5em;
      font-weight: 800;
      text-align: center;
      padding: 0;
      margin-top: $headlineMargin;
      margin-bottom: $headlineMargin;
      padding-bottom: 0.5rem;
    }

    h1, h2 {
      color: $majorArticleHeadline;
    }

    h2 {
      border-bottom: 1px solid $articleHeadlineBorderColor;
      margin-bottom: $headlineMargin;
      text-align: left;
    }

    h3, h4, h5 {
      text-align: left;
      font-weight: 400;
      font-size: 1.33em;
      color: $minorArticleHeadline;
    }

    h4, h5 {
      font-weight: 300;
    }

    p, div {
      font-size: $textSize;
      line-height: $textSize * $leadingScale;
    }
    p {
      margin: 0;
      margin-bottom: 0.5rem;
    }
    li {
      font-size: $textSize * $bulletScale;
      line-height: $textSize * $leadingScale * $bulletScale;
    }
    pre {
      -webkit-box-shadow: inset 5px -2px 36px -7px $codeBackgroundColor;
      -moz-box-shadow: inset 5px -2px 36px -7px $codeBackgroundBorderColor;
      box-shadow: inset 5px -2px 36px -7px $codeBackgroundBorderColor;
      padding-left: 2rem;
      padding-top: 1rem;
      padding-bottom: 1.5rem;
      background-color: $codeBackgroundColor;
      display: block;
      white-space: pre-wrap;
      overflow-x: auto;
    }
    code {
      font-family: $textCode;
      text-size: $textSize;
      white-space: pre;
    }
  }
}
