@import '../../styles/base';

.route--active {
  font-weight: bold;
  text-decoration: underline;
}

.header {
  font-size: $textSize;
  z-index: 1000;
  display: block;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 0;
  flex-shrink: 0;
  border-top: 1px solid $headerBorderColor;
  border-bottom: 1px solid $headerBorderColor;
  margin-top: 0.5rem;
  padding: 0 3rem;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  background-color: hsla(0, 0%, 0%, 0.333);
  border: 1px solid green;

  @media screen and (max-width: $smallSize) {
    font-size: $smallDeviceTextSize;
    padding: 0.25rem 2px;
  }
  a {
    font-family: $avro;
    font-weight: 400;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
  .header__link {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
    .header__bullet {
      color: magenta;
      padding-left: 2rem;
      padding-right: 2rem;
      @media screen and (max-width: $smallSize) {
        font-family: Arial, Helvetica;
        padding-left: 4px;
        padding-right: 4px;
      }
      display: block;
      height: 100%;
    }
    &:last-child {
      .header__bullet {
        display: none;
      }
    }
  }
  .header__link-static {
    color: $textEmphasis;
    font-family: $avro;
    text-transform: uppercase;
    @media screen and (max-width: $smallSize) {
      display: none;
    }
  }

  .header__padding {
    flex-grow: 100;
  }
}
