@import '../../styles/base';

.login {
  float: right;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
}

.login__avatar {
 padding: 2px;
  margin-right: 1rem;
}

.login__text {
  margin: 0.5rem;
  padding: 0;
  font-weight: 100;
  font-family: $textFont;
  font-size: $textSize * 0.8;
}
